.widget-header {
    background-color: #2f4f4f;
    border-bottom: 1px solid #a9a9a9;
    color: #2f4f4f;
    border-radius: 10px;
    opacity: 85%;
}

.widget-title {
    border: 0;
    //color: #2f4f4f;
    background-color: #2f4f4f;
    -webkit-text-fill-color: white;
    width: 40%;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 10px;
    margin-top:5px;
    width: 70%;
}

.widget-title-count {
    border: 0;
    //color: #2f4f4f;
    background-color: #2f4f4f;
    -webkit-text-fill-color: white;
    width: 15%;
    font-weight: bolder;
    margin-top:5px;
    float: right;
    font-size: smaller;
}

.widget-button {
    color: gray;
    border-radius: 100%;
    margin-top:15%;
    margin-right: 2px;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border: none;
}

.topmenubutton {
    border-radius: 100%;
    margin: 2px;
    float: right;
    // background: #fff;
    color: #778899;
}

:host::ng-deep .panel-heading {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.main-content {
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1 0px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: auto;
    padding-top: 20px;
}

.omnibar {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0;
    width: 100%;
    padding-top: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-secondary {
    border-color: #868e96;
}


.blur button:hover {
    -webkit-filter: blur(1px);
    -moz-filter: all .1s ease;
    -o-filter: all .1s ease;
    -ms-filter: all .1s ease;
    filter: blur(2px);
}

/************** Spinner on title *****************/
@keyframes spinner_title {
  to {transform: rotate(360deg);}
}
 
.spinner_title:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top:30%;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  //border-top: 2px solid #07d;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  animation: spinner_title .6s linear infinite;
}